<ion-header>
  <ion-toolbar>
    <ion-title>add a new Stamp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-label position="stacked"> Year: </ion-label>
    <ion-input [(ngModel)]="stampToBeCreated.year" placeholder="year"></ion-input>
  </div>
  <div>
    <ion-label position="stacked"> Color: </ion-label >
    <ion-input [(ngModel)]="stampToBeCreated.color" placeholder="color"></ion-input>
  </div>
  <div>
    <ion-label position="stacked"> Fiscal: </ion-label>
    <ion-input [(ngModel)]="stampToBeCreated.fiscal" placeholder="fiscal"></ion-input>
  </div>
  <div>
    <ion-label position="stacked"> Postal: </ion-label>
    <ion-input [(ngModel)]="stampToBeCreated.postal" placeholder="postal"></ion-input>
  </div>
  <div>
    <ion-label position="stacked"> Picture: </ion-label>
    <ion-input [(ngModel)]="stampToBeCreated.picture" placeholder="picture"></ion-input>
  </div>

  <ion-button color="success" (click)="add()">Add</ion-button>
  <ion-button color="danger" (click)="cancel()">Cancel</ion-button>

</ion-content>


