<h1>My Stamps</h1>
<ul class="stamps">
  <li *ngFor="let stamp of stamps" [class.selected]="stamp === selectedStamp" (click)="selectStamp(stamp)">
      <span>id: </span>{{stamp.id}}
      <img src='../../../assets/empty_stamp.jpg' alt="Img_Stamp">
      <span *ngIf="stamp.fav"> 🌟 </span>
  </li>
</ul>

<ion-button expand="full" color="secondary" (click)="goToNewStampPage()">Add a new stamp</ion-button>

<div *ngIf="selectedStamp">
  <h1>Stamp id: {{selectedStamp.id}}</h1>
  <div>
    <label> Year: {{selectedStamp.year}}</label>
  </div>
  <div>
    <label> Color:  {{selectedStamp.color}}</label>
  </div>
  <div>
    <label> Fiscal:  {{selectedStamp.fiscal}}</label>
  </div>
  <div>
    <label> Postal:  {{selectedStamp.postal}}</label>
  </div>
  <div>
    <label> Picture:  {{selectedStamp.picture}}</label>
  </div>
  <ion-button *ngIf="!selectedStamp.fav" size="small" color="secondary" (click)="changeFavStatus()">Set Favorite 🌟</ion-button>
  <ion-button *ngIf="selectedStamp.fav" size="small" color="secondary" (click)="changeFavStatus()">Remove from Favorites 🌟</ion-button>
</div>



